[[redirects]]
  from = "/index.html"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/prestations"
  to = "/prestations/"
  status = 301

[[redirects]]
  from = "/recettes"
  to = "/recettes/"
  status = 301

[[redirects]]
  from = "/tarifs"
  to = "/tarifs/"
  status = 301

[[redirects]]
  from = "/contact"
  to = "/contact/"
  status = 301

# Gestion des erreurs 404
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404