/* Contact Section */
.contact {
    background-color: var(--light-color);
}

.contact-container {
    display: flex;
    gap: 50px;
}

.contact-info {
    flex: 1;
}

.contact-info h3 {
    font-size: 1.8rem;
    color: var(--dark-color);
    margin-bottom: 20px;
}

.contact-details {
    margin-bottom: 30px;
}

.contact-details li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact-details i {
    margin-right: 15px;
    color: var(--primary-color);
    font-size: 1.2rem;
    width: 20px;
}

.contact-form {
    flex: 1;
    background-color: var(--white); /* Fond blanc */
    border-radius: 30px; /* Coins arrondis */
    padding: 30px; /* Espacement intérieur */
    box-shadow: var(--shadow); /* Ombre pour donner de la profondeur */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    font-family: 'Aria Text G1 Regular', sans-serif;
    font-size: 1.0rem;
    background-color: #F0F0F0;
}

.form-control::placeholder {
    color: #c1c1c1; /* Couleur plus claire pour le placeholder */
    opacity: 1; /* Assure la visibilité sur tous les navigateurs */
}

textarea.form-control {
    min-height: 150px;
    resize: vertical;
}

.map-container {
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Nouveau style pour réduire la largeur du bouton */
.contact-form .btn {
    width: auto; /* Permet au bouton de s'adapter à son contenu */
    min-width: 180px; /* Largeur minimale réduite */
    margin: 0 auto; /* Centre le bouton */
    display: inline-flex;
    justify-content: center;
}